form {
  margin-right: 40px;
}

form div {
  margin: 0 0 10px 160px;
}


form div label {
	width: 140px;
	float: left;
	text-align: right;
	margin: 5px 20px 0 -160px;
}

span.error {
	float: right;
}

input.error, textarea.error {
  border: 2px solid red;
}

/* Remaining Character count */

form div span {
	color: #666666;
	margin-left: 10px;
	font-size: 200%;
}