#info{
	width: 300px;
	border: 1px solid #999;
	padding: 0 10px;
}
#info p {
	width: inherit;
	background-color: inherit;
}
#info-nav{
	margin: 0;
	padding: 3px 0;
	width: 100%;
	list-style: none;
}
#info-nav li{
	display: inline;
	background: #ccc;
	border: 1px solid #888;
	border-bottom: 0;
	margin-right:2px;
	padding: 3px;
}
#info-nav li a:hover{
	color:#d15600;
}
#info-nav li.current{ 
	background: #fff;
	padding-bottom: 4px;
  
}

#celebs {
	clear: both;
}
