#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black url(../../css/images/spinner.gif) no-repeat scroll center center;
}

#lightbox {
  position: fixed;
}