#bio {
  margin-bottom: 10px;
}

#bio h3 {
  margin:0;
  padding:5px 0 5px 10px;
}

#bio>div {
  height:120px;
  position: relative;
}

#bio img {
  margin:10px;
}

#bio p {
  position: absolute;
  left: 120px;
  top: 10px;
  margin: 0 10px 0 0;
  padding: 0;
}

#bio .ui-state-error {
  position: absolute;
  bottom: 10px;
  left: 120px;
  height: 20px;
}

#bio .ui-icon {
  float: left;
  margin-left: 5px;
}