#photo-grid img {
  cursor: move;
}

.trash {
  padding: 10px 10px;
  border: 1px solid white;
  margin-bottom: 10px;
  width: 50%;
}

.highlight {
 border: 1px dashed #b5c051;
 -moz-border-radius: 10px;
}

.highlight-accept {
   background: #d9dfa4; 
}

