#gallery {
  background-color:#94C5EB;
  border:1px solid #015287;
  height:103px;
  text-align:center;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#gallery img { 
  width: 97px; 
  height: 97px; 
  float:left; 
  border:1px solid #fff; 
  padding:2px;
}


h2 {
  clear: both;
}

.spinner {
  height: 100%;
  width: 100%;
  background: transparent url(../../css/images/spinner.gif) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
}
