.table-wrapper {
	width: 520px;
}

.wrapper-paging {
	display: none;
}

.wrapper-paging ul,
.wrapper-paging li {
	float: left;
	margin: 0;
	padding: 0;
}

.wrapper-paging ul {
	float: left;
	list-style-type: none;
	text-align: left;
}

.wrapper-paging a {
	border: 2px solid #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: inline-block;
	color: #015287;
	cursor: pointer;
	margin-right: 3px;
	padding: 3px 7px;
	text-decoration: none;
}

.wrapper-paging .paging-this {
	cursor: default;
	padding: 3px 0;
}

.wrapper-paging a:hover {
	background-color: #015287;
	color: #FFFFFF;
}

.wrapper-paging .paging-back,
.wrapper-paging .paging-next {
	border-color: #015287;
}

.wrapper-paging .paging-this:hover {
	background-color: #FFFFFF;
	color: #015287;
}

.wrapper-paging .paging-this b {
	font-weight: normal;
}

.wrapper-paging .paging-disabled,
.wrapper-paging .paging-disabled:hover {
	background-color: #FFFFFF;
	border-color: grey;
	color: grey;
	cursor: default;
}
